.wm.footer-block 
    .footer-block__wrapper 
        .footer-block__col
            figure.footer__bg 
                img(src='images/bg.jpg' alt='background')
            .footer-block__content
                article 
                    h2.l-title YOUR WEBTOONS ARE AVAILABLE ON
                    .footer-block__download
                        a(href='' title='google play' target='_blank')
                            img(src='images/google-play.png' alt='download')
                        a(href='' title='app store' target='_blank')
                            img(src='images/app-store.png' alt='download')
                figrue 
                    img(src='images/test.png' alt='image')
        .footer-block__col 
            form.wm.form
                label(for='newsletter_email') Be informed about news and contests on Webtoon Factory
                .form__wrapper
                    input(id='newsletter_email' type='email' name='newsletter_email' placeholder='Fill in your email')
                    a.l-btn(href='' title='Ok' type='sumbit') Ok
            figrue.footer__person.is-desktop 
                img(src='images/footer-person.png' alt='person')
