.wm.banner 
    ul(role='list').banner__slider.jsSlider 
        li(role='listitem')
            img(src='images/lumine.png' alt='lumine')
            .banner__box 
                h2 Lumine
        li(role='listitem')
            img(src='images/secret.png' alt='my deepest secret')
            .banner__box 
                h2 My Deepest Secret
        li(role='listitem')
            img(src='images/upstairs.jpg' alt='the guy upstairs')
            .banner__box 
                h2 The Guy Upstairs
        
