.wm.detail 
    figure.detail__bg
        img(src='images/eat.jpg_large' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 Eaternal Nocturnal
                p The man of her dreams does exist… too bad she can’t fall asleep. When Eve is visited one night by a mysterious apparition, she finds that her chronic insomnia is miraculously cured. Meanwhile Dae, the dream eater, finds himself unexpectedly and unwillingly drawn to Eve. This can either be a dream come true or their worst nightmare.
            .detail__episode
                -var episodeImg= 'images/eaternal.jpg'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-1-the-insomniac/viewer?title_no=2832&episode_no=1'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 2'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-2-a-disagreeable-face/viewer?title_no=2832&episode_no=2'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 3'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-3-chances/viewer?title_no=2832&episode_no=3'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 4'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-4-beautiful-dreamer/viewer?title_no=2832&episode_no=4'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 5'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-5-the-dream-eater/viewer?title_no=2832&episode_no=5'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 6'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-6-delivery-boy/viewer?title_no=2832&episode_no=6'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 7'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-7-the-visitor/viewer?title_no=2832&episode_no=7'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 8'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-8-tethered/viewer?title_no=2832&episode_no=8'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 9'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-9-the-deal/viewer?title_no=2832&episode_no=9'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 10'
                -var episodeLink= 'https://www.webtoons.com/en/romance/eaternal-nocturnal/ep-10-distance/viewer?title_no=2832&episode_no=10'
                include ../episode/episode.pug