.wm.detail 
    figure.detail__bg
        img(src='images/maybe-bg.jpg' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 Maybe Meant To Be
                p Jia Han, a 32-year-old freelancer with no work, is tired of her parents nagging her to get married and finally move out. When she runs into her childhood friend, Mincheol Jin, who is also feeling the same pressure from his parents, she blurts out that they should just get married to solve both of their problems. Little did she know he’d accept her suggestion, and she suddenly finds herself thrust into marriage. A story of an unexpected romance that’ll have you scrolling for more!
            .detail__episode
                -var episodeImg= 'images/maybe.jpg'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-1-who-are-you/viewer?title_no=4208&episode_no=1'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 2'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-2-so-we-did/viewer?title_no=4208&episode_no=2'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 3'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-3-so-embarrassing/viewer?title_no=4208&episode_no=3'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 4'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-4-this-contract-is-an-agreement/viewer?title_no=4208&episode_no=4'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 5'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-5-im-impressed/viewer?title_no=4208&episode_no=5'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 6'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-6-thats-not-it/viewer?title_no=4208&episode_no=6'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 7'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-7-when-did-i/viewer?title_no=4208&episode_no=7'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 8'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-8-continue/viewer?title_no=4208&episode_no=8'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 9'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-9-mememe/viewer?title_no=4208&episode_no=9'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 10'
                -var episodeLink= 'https://www.webtoons.com/en/romance/maybe-meant-to-be/ep-10-lets-do-it/viewer?title_no=4208&episode_no=10'
                include ../episode/episode.pug