.wm.detail{
    padding-bottom: rem(80);
    .detail__wrapper{
        @media #{$lg}{
            display: flex;
            flex-direction: row-reverse;
            gap: rem(50);
            padding-top: rem(80);
        }
    }
    .detail__episode{
        flex-basis: 70%;
    }
    .detail__aside{
        flex-basis: 30%;
        padding-top: rem(60);
    }
    .detail__bg{
        // height: rem(350);
        // width: 100%;
        // overflow: hidden;
        img{
            object-fit: cover;
            height: rem(400);
            width: 100%;
            object-position: 0% 20%;
        }
    }
}