.wm.detail 
    figure.detail__bg
        img(src='images/down-bg.jpg' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 Down To Earth
                p Kade lives his average life alone and undisturbed... until a cute alien girl crashes into his backyard! By opening up his home, will this other worldly girl inadvertently open up his heart?
            .detail__episode
                -var episodeImg= 'images/down.jpg'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-1/viewer?title_no=1817&episode_no=1'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 2'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-2/viewer?title_no=1817&episode_no=2'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 3'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-3/viewer?title_no=1817&episode_no=3'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 4'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-4/viewer?title_no=1817&episode_no=4'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 5'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-5/viewer?title_no=1817&episode_no=5'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 6'
                -var episodeLink= 'hhttps://webtoons.com/en/romance/down-to-earth/episode-6/viewer?title_no=1817&episode_no=6'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 7'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-7/viewer?title_no=1817&episode_no=7'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 8'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-8/viewer?title_no=1817&episode_no=8'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 9'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-9/viewer?title_no=1817&episode_no=9'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 10'
                -var episodeLink= 'https://www.webtoons.com/en/romance/down-to-earth/episode-10/viewer?title_no=1817&episode_no=10'
                include ../episode/episode.pug