.wm.detail 
    figure.detail__bg
        img(src='images/love-bg.avif' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 I Love Yoo
                p Dogged by pain and misfortune from the very beginning, Shin-Ae decides she wants nothing to do with people nor anything to do with romance. Although content with her unsocial, boring, loveless existence, her lifestyle is challenged after she ruins an unsuspecting strangers' clothes.
            .detail__episode
                -var episodeImg= 'images/love.jpeg'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/prologue/viewer?title_no=986&episode_no=1'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 2'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-1/viewer?title_no=986&episode_no=2'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 3'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-2/viewer?title_no=986&episode_no=3'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 4'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-3/viewer?title_no=986&episode_no=4'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 5'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-4/viewer?title_no=986&episode_no=5'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 6'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-5/viewer?title_no=986&episode_no=6'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 7'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-6/viewer?title_no=986&episode_no=7'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 8'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-7/viewer?title_no=986&episode_no=8'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 9'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-8/viewer?title_no=986&episode_no=9'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 10'
                -var episodeLink= 'https://www.webtoons.com/en/drama/i-love-yoo/episode-9/viewer?title_no=986&episode_no=10'
                include ../episode/episode.pug