.wm.detail 
    figure.detail__bg
        img(src='images/save-bg.jpg' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 Save Me
                p Seven boys. Best friends. Their fates intertwined through the good times together, but also the tough times, as they have gone their separate ways and suffered greatly as a result. When all is almost lost for these boys, one is given a special chance to go back in time and help his friends fix the mistakes that led them down this path. He’ll do anything to save them, but can he? Or is he too late?
            .detail__episode
                -var episodeImg= 'images/save.jpg'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/drama/bts-save-me/prologue/viewer?title_no=1514&episode_no=1'
                include ../episode/episode.pug
                //- -var episodeNum= 'Episode 2'
                //- include ../episode/episode.pug
                //- -var episodeNum= 'Episode 3'
                //- include ../episode/episode.pug
                //- -var episodeNum= 'Episode 4'
                //- include ../episode/episode.pug
                //- -var episodeNum= 'Episode 5'
                //- include ../episode/episode.pug
                //- -var episodeNum= 'Episode 6'
                //- include ../episode/episode.pug