.wm.detail 
    figure.detail__bg
        img(src='images/souris-bg.jpg' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 Souris
                p October braves a virus-ridden island, joining a notorious militia to reunite with his family. But when he discovers Andy - a mysterious orange-eyed boy with a sinister past - October shifts his mission to uncovering the truth about the island, his family, and the deadly virus. | Written by little.moths and pammy.pants | Biweekly Updates!
            .detail__episode
                -var episodeImg= 'images/souris.png'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/canvas/souris/prologue/viewer?title_no=597914&episode_no=1'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 2'
                -var episodeLink= 'https://www.webtoons.com/en/canvas/souris/episode-1/viewer?title_no=597914&episode_no=2'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 3'
                -var episodeLink= 'https://www.webtoons.com/en/canvas/souris/episode-2/viewer?title_no=597914&episode_no=3'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 4'
                -var episodeLink= 'https://www.webtoons.com/en/canvas/souris/episode-3/viewer?title_no=597914&episode_no=4'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 5'
                -var episodeLink= 'https://www.webtoons.com/en/canvas/souris/episode-4/viewer?title_no=597914&episode_no=5'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 6'
                -var episodeLink= 'https://www.webtoons.com/en/canvas/souris/authors-note-extras/viewer?title_no=597914&episode_no=6'
                include ../episode/episode.pug