.wm.detail 
    figure.detail__bg
        img(src='images/secret.png' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 My Deepest Secret
                p Having a handsome, kind and caring boyfriend like Elios means the world to Emma. Even a look at him makes her heart flutters. But little does she know about a secret lies deep in their relationship. What is the said secret?
            .detail__episode
                -var episodeImg= 'images/secret-mob.jpg'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-1-my-boyfriend/viewer?title_no=1580&episode_no=1'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 2'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-2-my-senior/viewer?title_no=1580&episode_no=2'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 3'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-3-my-worries/viewer?title_no=1580&episode_no=3'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 4'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-4-my-first-date-part-1/viewer?title_no=1580&episode_no=4'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 5'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-5-my-first-date-part-2/viewer?title_no=1580&episode_no=5'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 6'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-6-my-troubles-part-1/viewer?title_no=1580&episode_no=6'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 7'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-7-my-troubles-part-2/viewer?title_no=1580&episode_no=7'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 8'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-8-my-troubles-part-3/viewer?title_no=1580&episode_no=8'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 9'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-9-his-perspective-part-1/viewer?title_no=1580&episode_no=9'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 10'
                -var episodeLink= 'https://www.webtoons.com/en/thriller/my-deepest-secret/ep-10-his-perspective-part-2/viewer?title_no=1580&episode_no=10'
                include ../episode/episode.pug