.wm.detail 
    figure.detail__bg
        img(src='images/dark-bg.jpg' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 Down To Earth
                p Kade lives his average life alone and undisturbed... until a cute alien girl crashes into his backyard! By opening up his home, will this other worldly girl inadvertently open up his heart?
            .detail__episode
                -var episodeImg= 'images/dark1.jpg'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/dark-moon-the-blood-altar/1-the-first-encounter/viewer?title_no=3785&episode_no=1'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 2'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/dark-moon-the-blood-altar/2-hello-heli/viewer?title_no=3785&episode_no=2'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 3'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/dark-moon-the-blood-altar/3-its-nice-to-meet-you/viewer?title_no=3785&episode_no=3'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 4'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/dark-moon-the-blood-altar/4-one-step-back-two-steps-forward/viewer?title_no=3785&episode_no=4'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 5'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/dark-moon-the-blood-altar/5-clean-the-room-and-reveal-the-big-secret/viewer?title_no=3785&episode_no=5'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 6'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/dark-moon-the-blood-altar/6-the-wolves-who-jumped-over-the-fence/viewer?title_no=3785&episode_no=6'
                include ../episode/episode.pug