.wm.detail 
    figure.detail__bg
        img(src='images/lumine.jpg' alt='background image')
    .container
        .detail__wrapper
            .detail__aside
                h2 Lumine
                p A runaway werewolf, Lumine, meets a witch boy named Kody and is being hired to work as his bodyguard. Lumine, being determined to befriend Kody, tries everything to get Kody to trust him, while Kody tries to keep Lumine away from him. Their life gets even more complicated after an unfortunate event that leaves them to try to survive on their own.
            .detail__episode
                -var episodeImg= 'images/lumine2.jpg'
                -var episodeNum= 'Episode 1'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-1/viewer?title_no=1022&episode_no=1'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 2'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-2/viewer?title_no=1022&episode_no=2'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 3'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-3/viewer?title_no=1022&episode_no=3'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 4'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-4/viewer?title_no=1022&episode_no=4'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 5'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-5/viewer?title_no=1022&episode_no=5'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 6'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-6/viewer?title_no=1022&episode_no=6'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 7'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-7/viewer?title_no=1022&episode_no=7'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 8'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-8/viewer?title_no=1022&episode_no=8'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 9'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-9/viewer?title_no=1022&episode_no=9'
                include ../episode/episode.pug
                -var episodeNum= 'Episode 10'
                -var episodeLink= 'https://www.webtoons.com/en/fantasy/lumine/episode-10/viewer?title_no=1022&episode_no=10'
                include ../episode/episode.pug