.wm.footer{
	padding: rem(20) 0;
	background-color: #eda405;
	@media #{$lg}{
		padding: rem(40) 0;
	}
	.footer__wrapper{
		@media #{$lg}{
			display: flex;
			// align-items: center;
			justify-content: space-between;
		}
	}
	.footer__logo{
		img{
			width: rem(80);
			height: auto;
			transition: 0.3s ease-in-out;
		}
		a{
			&:hover{
				img{
					transform: scale(0.9);
				}
			}
		}
	}
	.footer__col{
		@media #{$lg}{
			display: flex;
		}
	}
	.footer__sec{
		@media #{$lg}{
			padding-left: rem(30);
		}
	}
	h2{
		margin-bottom: rem(10);
	}
	a{
		font-size: rem(14);
	}
}
  