.wm.form{
    input{
        background: transparent;
        height: rem(40);
        border: rem(1) solid #fff;
        border-radius: rem(3);
        padding: rem(10) rem(24);
        outline: none;
        font-size: rem(18);
        &::placeholder{
            color: #fff;
        }
        &:focus{
            background-color:rgb(110, 110, 246);
        }
    }
    label{
        margin-bottom: rem(10);
        display: inline-block;
    }
    .form__wrapper{
        display: flex;
        align-items: center;
    }
}