.wm.header {
	// background-color: #fff;
	.header__wrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(20) 0;
	}
	.header__logo{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: relative;
		z-index: 3;
		img{
			width: rem(60);
			height: auto;
			transition: 0.3s ease-in-out;
		}
		a{
			display: flex;
			align-items: center;
			&:hover{
				img{
					transform: scale(1.2);
				}
				span{
					color: #4586ff;
				}
			}
		}
		p{
			font-size: rem(32);
			letter-spacing: rem(2);
			margin-left: rem(20);
			span{
				color: #fff;
			}
		}
		figure{
			width: rem(60);
			height: rem(60);
			overflow: hidden;
		}
	}
	nav{
		@media #{$lg-m}{
			position: fixed;
			width: 100%;
			height: 100%;
			top:0;
			right: -100%;
			background-color: #000;
			z-index: 2;
			transition: 0.5s ease-in-out;
			display: flex;
			align-items: center;
			justify-content: center;
			&.is-open{
				right: 0;
			}
		}
	}
	.header__nav{
		@media #{$lg}{
			display: flex;
			align-items: center;
			gap: rem(30);
		}
		a{
			font-size: rem(30);
			text-transform:uppercase;
			@media #{$lg}{
				font-size: rem(20);
			}
		}
		li{
			&:not(:last-of-type){
				margin-bottom: rem(30);
				@media #{$lg}{
					margin-bottom: 0;
				}
			}
		}
	}
	.header__burger {
		span {
			display: block;
			width: rem(30);
			height: rem(3);
			position: relative;
			background: #4586ff;
			border-radius: rem(3);
			transition: 0.3s ease-in-out;
			&:not(:last-of-type) {
				margin-bottom: 5px;
			}
		}
	
		&.is-open {
			span {
				&:nth-child(1) {
					transform: rotate(-45deg) translate(-8px, 1px);
				}
	
				&:nth-child(2) {
					opacity: 0;
					transform: rotate(0deg) translate(0, 0);
				}
	
				&:nth-child(3) {
					transform: rotate(45deg) translate(-10px, -4px);
				}
			}
		}	
	}
}