.wm.card{
    max-width: rem(300);
    position: relative;
    &:hover{
        article{
            opacity: 1;
        }
    }
    article{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #000;
        padding: rem(20);
        transition: 0.5s ease-in-out;
        opacity: 0;
        overflow: hidden;
        cursor: pointer;
        h2{
            text-transform: uppercase;
        }
    }
    figure{
        img{
            max-width: rem(250);
            min-height: rem(250);
            object-fit: cover;
        }
    }
}