extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'theme--default'
block story
	section.section.section--banner
		.container 
			include ../components/banner/banner.pug
	section.section.section--popular
		.container 
			include ../components/popular/popular.pug
	section.section.section--latest 
		.container 
			include ../components/popular/latest.pug
	section.section.section--footer-block 
		include ../components/footer-block/footer-block.pug
	