extend ../pagelayout/home
block variables
    -var active = 'Home'
    -var bodyClass = 'theme--default'
block story
    section.section.section--details
        include ../components/detail/detail-secret.pug