ul(role='list').wm.card-item 
    li(role='listitem')
        -var cardImg= 'images/boo.jpg';
        -var cardHeading= 'My Boo'
        -var cardContent= 'When you have an invisible roommate.'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/maybe.jpg';
        -var cardHeading= 'Myabe To Be Means'
        -var cardContent= 'Jia Han, a 32-year-old freelancer with no work, is tired of her parents nagging her to get married and finally move out'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/down.jpg';
        -var cardHeading= 'Lumine'
        -var cardContent= 'A runaway werewolf, Lumine, meets a witch boy named Kody and is being hired to work as his bodyguard. '
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/eaternal.jpg';
        -var cardHeading= 'Lumine'
        -var cardContent= 'A runaway werewolf, Lumine, meets a witch boy named Kody and is being hired to work as his bodyguard. '
        include ../card/card.pug