ul(role='list').wm.card-item 
    li(role='listitem')
        -var cardImg= 'images/lumine-mob.jpg';
        -var cardHeading= 'Lumine'
        -var cardNumber= '8.1 M'
        -var cardContent= 'A runaway werewolf, Lumine, meets a witch boy named Kody and is being hired to work as his bodyguard. '
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/secret-mob.jpg';
        -var cardHeading= 'My Deepest Secret'
        -var cardContent= 'Having a handsome, kind and caring boyfriend like Elios means the world to Emma.'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/down.jpg';
        -var cardHeading= 'Down To Earth'
        -var cardContent= 'Kade lives his average life alone and undisturbed... until a cute alien girl crashes into his backyard! '
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/eaternal.jpg';
        -var cardHeading= 'Eaternal Nocturnal'
        -var cardContent= 'The man of her dreams does exist… too bad she can’t fall asleep.'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/love.jpeg';
        -var cardHeading= 'I Love Too'
        -var cardContent= 'Dogged by pain and misfortune from the very beginning,'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/save.jpg';
        -var cardHeading= 'Save Me'
        -var cardContent= 'Seven boys. Best friends. Their fates intertwined through the good times together, but also the tough times,'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/souris.png';
        -var cardHeading= 'Souris'
        -var cardContent= 'October braves a virus-ridden island, joining a notorious militia to reunite with his family.'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/dark.jpg';
        -var cardHeading= 'Dark Moon: The Blood Altar'
        -var cardContent= 'Welcome to Riverfield, where the most popular. '
        include ../card/card.pug
