ul(role='list').wm.card-item 
    li(role='listitem')
        -var cardImg= 'images/lumine-mob.jpg';
        -var cardHeading= 'Lumine'
        -var cardContent= 'A runaway werewolf, Lumine, meets a witch boy named Kody and is being hired to work as his bodyguard. '
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/secret-mob.jpg';
        -var cardHeading= 'Lumine'
        -var cardContent= 'A runaway werewolf, Lumine, meets a witch boy named Kody and is being hired to work as his bodyguard. '
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/down.jpg';
        -var cardHeading= 'Lumine'
        -var cardContent= 'A runaway werewolf, Lumine, meets a witch boy named Kody and is being hired to work as his bodyguard. '
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/eaternal.jpg';
        -var cardHeading= 'Lumine'
        -var cardContent= 'A runaway werewolf, Lumine, meets a witch boy named Kody and is being hired to work as his bodyguard. '
        include ../card/card.pug