ul(role='list').wm.card-item 
    li(role='listitem')
        -var cardImg= 'images/boo.jpg';
        -var cardHeading= 'My Boo'
        -var cardContent= 'When you have an invisible roommate.'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/maybe.jpg';
        -var cardHeading= 'Myabe To Be Means'
        -var cardContent= 'Jia Han, a 32-year-old freelancer with no work,'
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/down.jpg';
        -var cardHeading= 'Down To Earth'
        -var cardContent= 'Kade lives his average life alone and undisturbed... until a cute alien girl crashes into his backyard! '
        include ../card/card.pug
    li(role='listitem')
        -var cardImg= 'images/eaternal.jpg';
        -var cardHeading= 'Eaternal Nocturnal'
        -var cardContent= 'The man of her dreams does exist… too bad she can’t fall asleep.'
        include ../card/card.pug