.wrg.story.story--pink
    .container
        h2 For new project
        .story__step
            h4 step 1
            p Clone the golden template
            p 
                code git clone git@bitbucket.org:whiterabbitgroup/frontend_template.git
       
        .story__step
            h4 step 2
            p 
                code npm install
            p This will install all the dependencies

        .story__step
            h4 step 3
            h4 Now our local setup is ready to run
            p 
                code gulp
            p This will run the gulp task and our project will open in a new browser window.

        .story__step
            h3  For deployment
            p 
                code gulp --build
            p This will run the gulp task, update the dist folder with all the .html and .css files.(also open a preview in your default browser)
        .story__footer
            h3 Happy coding!
