.wrg.story.story--red
    .container
        h2 For beginner
        .story__step
            h4 step 1
            p Downlaod and install node 
                a(href='https://nodejs.org/en/download/' target='_blank') here
        .story__step
            h4 step 2
            p 
                code npm install gulp-cli -g
            p This will check for node, npm. Install the gulp package in your dev dependencies.