footer.footer 
    .col(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")   
        h2 It's Glow Time.
        p ©2020 KALOSE LLC. Legal.
    .col.right 
        .about(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")  
            h5 About Us 
            ul 
                li 
                    a(href="#" title="Co-living") Co-living
                li  
                    a(href="#" title="FAQs") FAQs
                li  
                    a(href="#" title="Careers") Careers
                li  
                    a(href="#" title="The Journal") The Journal
                li  
                    a(href="#" title="Serviced Living") Serviced Living
                li  
                    a(href="#" title="Venue hire") Venue hire
                li  
                    a(href="#" title="Co-working") Co-working
        .getintouch(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400") 
            h5 Get  in touch 
            ul 
                li 
                    a(href="#" title="KALOSE Inc") KALOSE Inc,
                li 
                    a(href="#" title="Century Park East Suite 803") Century Park East Suite 803,
                li 
                    a(href="#" title="Los Angeles") Los Angeles,
                li 
                    a(href="#" title="+44 (0) 207 543 5478") +44 (0) 207 543 5478
//- button( onclick="scrollToTop()" id="scrollToTopBtn") Top
img(src="../images/svg/topscroll.svg" alt="" onclick="scrollToTop()" id="scrollToTopBtn" )
