header.wm.header 
  .container
    .header__wrapper 
      .header__logo 
        a(href='index.html' title='webmine')
          img(src='images/logo.jpg' alt='logo')
          p 
            span W
            | eb
            span M
            | ine
        .header__burger.jsBurger.is-mobile 
          span 
          span 
          span
      nav
        ul.header__nav(role='menu')
          li(role='menuitem')
            a(href='' title='originals') originals
          li(role='menuitem')
            a(href='' title='genres') genres
          li(role='menuitem')
            a(href='' title='popular') popular
          li(role='menuitem')
            a(href='' title='canvas') canvas